

venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.sqlite3
*.db
*.log

.env
.env.*

.idea/
.vscode/
*.iml

tests/
*.pytest_cache
.coverage
coverage/
htmlcov/

*.swp
*.swo
*.bak

Dockerfile*
docker-compose*.yml
